TELEGRAM_TOKEN=
DISCORD_TOKEN=

CREATE_ADDONS_BASE_URL=create-addons.stefdp.com
CREATE_ADDONS_SECURE=true

OWNER_IDS= # Comma-separated list of owner IDs

MODRINTH_EMOJI_ID=
CURSEFORGE_EMOJI_ID=

DISCORD_INVITE_URL=https://discord.com/oauth2/authorize?client_id=1390937506710683708
TELEGRAM_INVITE_URL=https://t.me/CreateAddonsNotifierBot

NTFY_URL=
NTFY_TOKEN=
NTFY_TOPIC=